 /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  body {
    background-color: white;
    width: 100%;
    height: auto;
    position: relative;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  body {
    background-color: tan;
    width: 100%;
          height: auto;
          position: relative;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  body {
    background-color: pink;
    width: 100%;
          height: auto;
          position: relative;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body {
    background: linear-gradient(red, pink, blue);
    width: 100%;
          height: auto;
          position: relative;
    }
}

@media screen and (max-width: 900px) {
  body{     width: 100%;
        height: auto;
        position: relative;}
    }

@media screen and (max-width: 400px) {
    ul.sidenav li a {
        text-align: center;
        float: none;
    }
      div.content {
        margin-left: 25%;
        padding: 1px 16px;
        height: 1000px;
    }
}

.container {
/*  width: 1100px; */
  margin: 0 auto;
  margin-top:50px;
  font-size-adjust: auto;
  background-color: black;
}

body {
/*  width: 1000px;*/
  margin: 0 auto;
}

#grad {
  background: linear-gradient(red, yellow, green);
}

h1  {
  text-align: center;
  text-decoration: underline;
}

h4, .intro, h3, .children,
.myCarousel {
  text-align: center;
}

p {color:
Black;
}

figcaption {
  font-size: 1em;
  line-height: 1.5;
  color: #fff;
  padding: 1em;
  background: rgba(19,43,102, .85);

  position: absolute;
}

.shadowbox {
  border:2px solid #333;
	box-shadow:8px 8px 5px #444;
	padding:8px 12px;
	background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
}

.body bgcolor{
	linear-gradient(90deg, 40%);
}

.Liyah {
  transform: rotate(360deg);
  display: inline;
  }
.John {
  transform: rotate(90deg);
  display: inline-block;
}
.Adira {
  transform: rotate(90deg);
  display: inline-block;
}

.Liyah span{
  display: block;
}

.John span{
  display: block;
}
.Adira span{
  display: block;
}

h6 {color:
   Red;
}

/* Change the link color on hover */
li a:hover {
    background-color: #555;
    color: red;
}

about {
    position: right;
    right: 500px;
    width: 300px;
    border: 3px solid #73AD21;
    padding: 10px;
}

.panel-title{
  background-color: black;
  color: white;
  padding: 10px;
  border: 5px solid lightblue;
}

h3 {
  border: 10px;
  width: 500px;
  background-color: black
  color: gold;
}

footer {

}

form{

}

textarea{
width: 100px;
}

.item Liyah, John, Adira{
  caption-side: top;
}
